@font-face {
    font-family: 'Circe';
    src: url(fonts/CRC55.otf) format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'Circe';
    src: url(fonts/CRC35.otf) format('opentype');
    font-weight: light;
}

@font-face {
    font-family: 'Circe';
    src: url(fonts/CRC25.otf) format('opentype');
    font-weight: lighter;
}

@font-face {
    font-family: 'Circe';
    src: url(fonts/Circe-Bold.otf) format('opentype');
    font-weight: bold;
}

body {
    font-family: 'Circe', sans-serif;
}

h1 {
    font-family: "Circe", sans-serif;
    font-weight: bold;
    font-size: 45px;
    text-align: center;
}

h3 {
    font-family: "Circe", sans-serif;
    font-size: 20px;
    font-weight: normal;
}

p,
ul,
ol {
    font-family: "Circe", sans-serif;
    font-size: 20px;
    font-weight: lighter;
}

ul {
    list-style-type: circle;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    
}

